@using System.Web
@model Movie


<div class="film">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="responsive" src="/img/@Model.ImageUrl" alt="@Model.Title" width="100">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <p><a class="btn btn-secondary" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieID" target="_blank">Details</a></p>  
                    @*<p><a class="btn btn-primary" asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.MovieID" target="_blank">Edit</a></p>*@
                      
                    @*<form asp-controller="Movies" asp-action="Delete" method="post">
                        <input type="hidden" name="Title" value="@Model.Title" />
                        <input type="hidden" name="MovieId" value="@Model.MovieID" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>*@
                
                </div>
            </div>
        </div>
    </div>
</div>